.PokeCard{
    border: gray .1px solid;
    box-shadow: 2px 2px 2px 2px #ccc;
    width: 250px;
    height: 250px;
    background-color: lightgray;
    margin-left: 10px;
    margin-bottom: 10px;
}
.PokeCard-name{
    color: darkblue;
}